<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
   <img src="https://d33wubrfki0l68.cloudfront.net/6a33c0328c7fcee8154b0974f515d46cc8e8f642/2d510/images/solve.svg" alt="Solve" class="center">
    <h2>Public Health</h2>
    <p>I am currently </p>
  </div>
  <div class="tech">
    <img src="https://d33wubrfki0l68.cloudfront.net/6a33c0328c7fcee8154b0974f515d46cc8e8f642/2d510/images/solve.svg" alt="Solve" class="center">
    <h2>Problem-solving</h2>    
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <img src="https://d33wubrfki0l68.cloudfront.net/6a33c0328c7fcee8154b0974f515d46cc8e8f642/2d510/images/solve.svg" alt="Solve" class="center">
    <h2>Design & Data Science</h2>
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
