<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>
<div class="user">
  <div class="tech">
   <img src="https://assets-ouch.icons8.com/preview/772/f9ab877c-4089-459c-9814-88455b030420.png" alt="Solve" class="center">
    <h2>Public Health</h2>
    <p>I am currently </p>
  </div>
  <div class="tech">
    <img src="https://assets-ouch.icons8.com/preview/311/10508af6-ef50-4fb9-b82f-ef97b060d5c1.png" alt="Solve" class="center">
    <h2>Problem-solving</h2>    
    <p>My main development languages are Java and JavaScript, but I have worked with Go, Python, PHP and more..</p>
  </div>
  <div class="tech">
    <img src="https://assets-ouch.icons8.com/preview/27/196b2a8d-3517-45ea-9c0d-7994ebe3cc73.png" alt="Solve" class="center">
    <h2>Design & Data Science</h2>
    <p>Git, Gulp, Grunt, NPM, Linux, Docker, you name it, I have used a bajillion tools!</p>
  </div>
</div>
