<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="user-details">
  <h1>About Me</h1>
  <p>{{ site.user_description }}</p>
</div>

<div>
  <div class="mx-auto" style="width: 300px;">
    <h2>About Us</h2>
    <h1>Our Philosophy </h1>
    </div>

  <div class="container">
    <div class="row">
      <div class="col-sm">
        <img src="https://ibb.co/KbLDVTM" alt="Solve" class="center">
        <h3> Solve Real Problems</h3>
        <p> Work on meaningful projects from transport to healthcare. Don’t waste your skills building another shopping cart.</p>
      </div>
      <div class="col-sm">
         <img src="https://ibb.co/bLyLmqR" alt="Build" class="center">
        <h3> Build for the User </h3>
        <p> Design and build products based on what real people actually need. We don't serve our bosses, our agency, or even our ministers. We serve the public.</p>
      </div>
      <div class="col-sm">
         <img src="https://ibb.co/LrpyyH3" alt="Push" class="center">
        <h3> Push For Change </h3>
        <p> Actively prototype and evangelize ideas to make real things happen. Work around or cut through bureaucracy.</p>
      </div>
    </div>
  </div>
