<div id="particles-js">
  <div class="header">
      <h1>
        <span class="site-title">{{ site.username }}</span>
        <span class="site-description">{{ site.user_title }}</span>
      </h1>
      <div class="header-icons">
        <a aria-label="Send email" href="mailto:drpettychen@gmail.com"><i class="icon fa fa-envelope"></i></a>
        <a aria-label="My Instagram" target="_blank" href="https://www.instagram.com/pettypychen"><i class="icon fa fa-instagram" aria-hidden="true"></i></a>
        <a aria-label="My LinkedIn" target="_blank" href="https://www.linkedin.com/in/pettypinyuchen"><i class="icon fa fa-linkedin" aria-hidden="true"></i></a>
        <a aria-label="My Github" target="_blank" href="https://github.com/pettypychen"><i class="icon fa fa-github-alt" aria-hidden="true"></i></a>
        <a aria-label="My Medium" target="_blank" href="https://medium.com/el-gatos-secret-thoughts/work-portfolio-e6b5b3533e67"><i class="icon fa fa-medium" aria-hidden="true"></i></a>
        <a aria-label="My Portfolio" target="_blank" href="https://drive.google.com/open?id=1PEfOetsIVVqqOTtQgsdPevhnMFKVHy1K"><i class="icon fa fa-google" aria-hidden="true"></i></a>

      </div>
      <div class="header-links">
        <!-- <a class="link" href="#about" data-scroll>About Me</a> -->
      </div>
  </div>
  <a class="down" href="#about" data-scroll><i class="icon fa fa-chevron-down" aria-hidden="true"></i></a>
</div>
